body {
  font-family: calibri, "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  color: white;
  text-decoration: none; }

#mainNav {
  position: fixed;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #e74c3c;
  padding: 10px 100px;
  line-height: 50px; }
  #mainNav #logo {
    margin-top: -10px;
    width: 200px;
    text-align: center;
    background: url("../img/logo.png") no-repeat;
    background-size: 60px;
    float: left;
    font-weight: bold;
    color: white; }
  #mainNav ul {
    float: right; }
    #mainNav ul li {
      float: left;
      margin-right: 30px;
      font-weight: bold;
      color: white; }
      #mainNav ul li a {
        line-height: 40px;
        display: block;
        height: 40px; }
        #mainNav ul li a:hover {
          border-bottom: 2px solid white; }
        #mainNav ul li a:visited {
          border-bottom: 2px solid white; }

#introC {
  height: 200px;
  background-color: #e74c3c;
  padding-top: 100px; }

#intro {
  height: 170px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: Basic Title font, Gafata, sans-serif; }
  #intro hr {
    border: 1px solid white; }
  #intro p {
    margin: 0; }
  #intro h1 {
    margin: 0;
    font-size: 100px; }

.decorBar {
  width: 100%;
  height: 100px; }

.decor {
  background-color: #e74c3c; }

.trimHR {
  width: 150px;
  margin: 20px auto; }
