body {
  background: url("../img/bluesky.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover; }

#mainNav {
  position: fixed;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #fdfdfd;
  box-shadow: 2px;
  z-index: 1; }

#socialShare {
  margin: 0;
  padding: 0; }
  #socialShare li {
    float: left;
    width: 70px;
    border-right: 1px solid #dddddd;
    height: 70px;
    text-align: center;
    line-height: 70px; }
    #socialShare li a {
      display: block; }
      #socialShare li a:hover {
        background-color: #f0f0f0; }

#searchBox {
  text-align: center;
  float: left;
  width: 60%;
  line-height: 70px;
  align-self: center;
  margin: 0 auto; }
  #searchBox input[type='text'] {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #fdfdfd;
    text-align: center; }

#loginBox {
  float: right;
  background: url("../img/icon_facebook_white.png") no-repeat #3a579d scroll 20px;
  height: 70px;
  line-height: 70px;
  width: 130px; }
  #loginBox:hover {
    background-color: #4179c7; }
  #loginBox a {
    text-decoration: none; }
  #loginBox p {
    color: white;
    margin: 0 0 0 60px; }

#innerWrap {
  margin: 0; }

#top {
  background: url("../img/find_here.png") no-repeat rgba(149, 214, 255, 0.5);
  background-position: center 8%;
  padding-top: 160px; }

#showBox {
  width: 50%;
  height: 600px;
  margin: 0 auto;
  position: relative;
  clear: both; }

.circleFeat, .circleLayer1, .circleLayer2, .circleLayer3 {
  background-color: #d8e8ff;
  background-clip: padding-box;
  border: 10px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  text-align: center;
  color: #636b91; }
  .circleFeat:hover, .circleLayer1:hover, .circleLayer2:hover, .circleLayer3:hover {
    border: 10px solid rgba(255, 255, 255, 0.7); }

.circleLayer1 {
  width: 220px;
  height: 220px; }
  .circleLayer1 p {
    line-height: 30px; }

.circleHolderFeat, .circleHolder, .circleHolder2, .circleHolder3 {
  display: table;
  text-align: center;
  position: absolute;
  width: 50px; }

.circleHolder {
  top: 80px;
  left: 80px; }

.cell {
  display: table-row; }
  .cell p {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.circleLayer2 {
  width: 75px;
  height: 75px; }
  .circleLayer2 p {
    font-size: 0.9em;
    line-height: 25px; }

.circleHolder2 {
  top: 15px;
  left: 7px; }

.circleLayer3 {
  width: 50px;
  height: 50px; }

.circleHolder3 {
  top: 10px;
  left: 2px; }
  .circleHolder3 p {
    font-size: 0.7em;
    line-height: 18px; }

#carShow {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  height: 300px; }

.slider {
  float: left; }

#previous {
  left: 0;
  position: absolute;
  top: 70px;
  z-index: -1; }

#current {
  left: 380px;
  position: absolute;
  top: 70px; }

#next {
  left: 750px;
  position: absolute;
  top: 70px;
  z-index: -1; }

#middleContainer {
  background-color: white;
  color: #636b91;
  padding-bottom: 50px; }
  #middleContainer h1 {
    margin: 0; }

.triangleBlue {
  border: 20px solid transparent;
  border-top: 20px solid rgba(100, 170, 255, 0.95);
  height: 0px;
  width: 0px;
  margin: 0 auto; }

#carInfo {
  width: 960px;
  margin: 0 auto; }
  #carInfo img {
    margin-top: 50px; }

#carInfoIntro {
  width: 600px;
  margin: 0 auto; }
  #carInfoIntro h1 {
    color: blue;
    margin: 0; }
  #carInfoIntro h2 {
    margin: 0; }

.button {
  clear: none;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: bold;
  float: left;
  margin-right: 50px; }
  .button a {
    color: white;
    text-decoration: none;
    display: block; }

#sendButton {
  width: 250px;
  height: 40px;
  background-color: #198069;
  border: 1px solid darkgreen; }

#moreButton {
  width: 100px;
  height: 40px;
  background-color: #2e5cc5;
  border: 1px solid darkgreen; }

.columns {
  float: left; }

.notePads {
  margin: -10px 40px 0 0; }
  .notePads img {
    margin: 0;
    width: 280px; }

.notes {
  width: 220px;
  margin-top: 40px;
  color: white;
  text-align: center;
  background-color: blue;
  padding: 30px; }
  .notes h4 {
    text-transform: uppercase; }

.clearfix {
  content: ".";
  visibility: hidden;
  clear: both; }

#bottomContainer {
  background: url("../img/hybrid_bg.png") no-repeat blue; }

#bottomTextHolder {
  width: 600px;
  margin: 0 auto;
  color: white; }
  #bottomTextHolder h5 {
    margin-bottom: 0;
    font-size: 1em; }
  #bottomTextHolder p {
    margin-top: 0;
    font-size: 0.9em; }
  #bottomTextHolder h3 {
    font-size: 1.1em;
    text-align: center;
    padding: 250px 0 150px 0;
    margin: 0; }

.indentRight {
  margin-left: 300px; }

.indentMiddle {
  margin-left: 200px; }

#whiteButtonContainer {
  background: url("../img/footer.jpg") no-repeat;
  height: 400px;
  padding-top: 250px; }

#whiteButton {
  color: blue;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  float: none; }
  #whiteButton a {
    color: blue; }

footer {
  height: 130px;
  text-align: center;
  line-height: 130px;
  background-color: #f8fafc; }
  footer ul {
    width: 700px;
    margin: 0 auto;
    padding: 0; }
    footer ul li {
      float: left;
      margin-right: 3px;
      font-size: 0.8em;
      color: #636b91; }
      footer ul li a {
        text-decoration: none;
        font-weight: bold;
        color: #4179c7; }
